body{
    background-image: url('../images/background.png');
    background-repeat: no-repeat;      
    background-size: cover;            
    background-position: center;       
    background-attachment: fixed;
}
.navbar{
    overflow: hidden;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: flex-end;
}
.navbar a{
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 15px 30px;
    text-decoration: none;
}
.navbar a:hover{
    color: aquamarine;
    transition: 0.5s;
}
.navbar .icon img{
position: absolute;
left: 30px;
top: 15px;
height: 70px;
}
.ticket{
    position: absolute;
    right: -500px;
    top: 300px;
    border-radius: 500px;
    box-shadow: 0px 0px 50px 5px aquamarine;
    animation: slideIn 1s ease-out forwards, float 2s ease-in-out infinite, glow 2s alternate infinite;
}
.ticket img{
    width: 500px;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
}
.ticket img:hover{
    transform: scale3d(0.8, 0.9, 0.9);
}
@keyframes slideIn {
    from {
        right: -500px; 
        opacity: 0;
    }
    to {
        right: 50px; 
        opacity: 1;
    }
}
@keyframes float {
    0% {transform: translateY(0px);}
    50% {transform: translateY(-10px);}
    100%{transform: translateY(0px);}
}
@keyframes glow {
    from{box-shadow: 0px 0px 50px 5px aquamarine;}
    to{box-shadow: 0 0 75px 10px;}
}
.title{
    font-size: 40px;
    color: aquamarine;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    top: 150px;
    left: 30px;
}
pre{
    font-size: 20px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    top: 250px;
    left: 30px;
}

/* Buttons */

.movies {
  background: #d4000053;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 0.6em 1.3em;
  font-weight: 900;
  font-size: 25px;
  color: white;
  border: 3px solid #d4000053;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
  cursor: pointer;
  transition: 0.3s ease;
  position: absolute;
  top: 400px;
  left: 50px;
}

.movies:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
  background-color: red;
  color: white;
}

.movies:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}
.entertainment {
  background: #ff9b205f;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 0.6em 1.3em;
  font-weight: 900;
  font-size: 25px;
  color: white;
  border: 5px solid #ff9b205f;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
  cursor: pointer;
  transition: 0.3s ease;
  position: absolute;
  top: 400px;
  left: 250px;
}

.entertainment:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
  background-color: rgb(255, 145, 0);
  color: white;
}

.entertainment:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}
.sports {
  background: #00c3752e;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 0.6em 1.3em;
  font-weight: 900;
  font-size: 25px;
  color: white;
  border: 5px solid #00c3752e;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
  cursor: pointer;
  transition: 0.3s ease;
  position: absolute;
  top: 400px;
  left: 530px;
}

.sports:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
  background-color: green;
  color: white;
}

.sports:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}
.account {
  background: aquamarine;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 0.6em 1.3em;
  font-weight: 900;
  font-size: 15px;
  color: black;
  border: 5px solid white;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
  cursor: pointer;
  transition: 0.3s ease;
  position: absolute;
  bottom: 10px;
  left: 800px;
}
.account:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
  background-color: black;
  color: white;
}

.account:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}
.sign{
    display: flex;
    align-items: center;
    gap: 15px;
    position: absolute;
    bottom: 15px;
    left: 670px;
}
.sign a{
    text-decoration: none;
    color: aquamarine;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: 0.3s ease-in-out;
}
.sign a:hover{
    color: white;
    text-decoration: dotted;
}
.sign h1{
    font-size: 18px;
    margin: 0;
    color: white;
}

