body{
    background-color: black;
}
.navbar{
    overflow: hidden;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: flex-end;
}
.navbar a{
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 15px 30px;
    text-decoration: none;
}
.navbar a:hover{
    color: aquamarine;
    transition: 0.5s;
}
.navbar .icon img{
position: absolute;
left: 30px;
top: 15px;
height: 70px;
}
.ticket{
    position: absolute;
    right: -500px;
    top: 300px;
    border-radius: 500px;
    box-shadow: 0px 0px 50px 5px aquamarine;
    animation: slideIn 1s ease-out forwards, float 2s ease-in-out infinite, glow 2s alternate infinite;
}
.ticket img{
    width: 500px;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
}
.ticket img:hover{
    transform: scale3d(0.8, 0.9, 0.9);
}
@keyframes slideIn {
    from {
        right: -500px; 
        opacity: 0;
    }
    to {
        right: 50px; 
        opacity: 1;
    }
}
@keyframes float {
    0% {transform: translateY(0px);}
    50% {transform: translateY(-10px);}
    100%{transform: translateY(0px);}
}
@keyframes glow {
    from{box-shadow: 0px 0px 50px 5px aquamarine;}
    to{box-shadow: 0 0 75px 10px;}
}
.title{
    font-size: 40px;
    color: aquamarine;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    top: 150px;
    left: 30px;
}
pre{
    font-size: 20px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    top: 250px;
    left: 30px;
}

/* Buttons */

.buy {
  background: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 0.6em 1.3em;
  font-weight: 900;
  font-size: 25px;
  color: white;
  border: 3px solid white;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
  cursor: pointer;
  transition: 0.3s ease;
  position: absolute;
  top: 400px;
  left: 50px;
}

.buy:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
  background-color: aquamarine;
  color: black;
}

.buy:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}
.account {
  background: aquamarine;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 0.6em 1.3em;
  font-weight: 900;
  font-size: 25px;
  color: black;
  border: 5px solid white;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
  cursor: pointer;
  transition: 0.3s ease;
  position: absolute;
  top: 400px;
  left: 350px;
}

.account:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
  background-color: black;
  color: white;
}

.account:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}
